/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #007bff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.logo h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.menu {
    flex-grow: 1;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 20px 0;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s;
}

.menu ul li a:hover,
.menu ul li a.active {
    background-color: #0056b3;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h2 {
    font-size: 28px;
}

.header-actions button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.header-actions button:hover {
    background-color: #0056b3;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    color: #007bff;
}

.card p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.chart {
    grid-column: span 4;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
/* Tabla de Ventas */
.chart table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.chart th, .chart td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.chart th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

.chart td {
    background-color: white;
}

.chart td:nth-child(6), .chart td:nth-child(7) {
    color: #007bff;
    font-weight: bold;
}