<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<footer class="bg-light py-5">
    <div class="container-fluid" th:fragments="footer">
        <div class="row">
            <div class="col-md-3 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 font-weight-bold">Newsletter Sign-Up</h5>
                <p class="mb-4">Get insider information about exclusive offers, events and more.</p>
                <form>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Your email..." aria-label="Your email"
                               aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">SEND</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 font-weight-bold">About Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Our Shops</a></li>
                    <li><a href="#" class="text-dark">Contact</a></li>
                    <li><a href="#" class="text-dark">Artists</a></li>
                    <li><a href="#" class="text-dark">Local Giving</a></li>
                    <li><a href="#" class="text-dark">Press</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 font-weight-bold">Categories</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">New In</a></li>
                    <li><a href="#" class="text-dark">Earrings</a></li>
                    <li><a href="#" class="text-dark">Rings</a></li>
                    <li><a href="#" class="text-dark">Necklace</a></li>
                    <li><a href="#" class="text-dark">Bracelets</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Information</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Faq</a></li>
                    <li><a href="#" class="text-dark">Size guide</a></li>
                    <li><a href="#" class="text-dark">Shipping</a></li>
                    <li><a href="#" class="text-dark">Order status</a></li>
                    <li><a href="#" class="text-dark">Exchanges</a></li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-dark mb-0">Copyright © 2024. All Right Reserved</p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-end">
                    <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                        <i class="bi bi-tiktok"></i>
                    </a>
                    <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>